html {
  font-family: 'Merriweather', serif;
}

main {
}

table {
  border: 1px #ccc;
}

.greys {
  background-color: #ccc;
  color: #666;
  border: #f2f2f2;
}

.blues {
  background-color: #d2d6f0;
  color: #1d38da;
  border: #38448e;
}

.greens {
  background-color: #d1e0bf;
  color: #6b7e54;
  border: #51603f;
}

.reds {
  background-color: #f2bcbc;
  color: #b92828;
  border: #991919;
}
