html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

table,
td {
  border: solid 1px #ccc;
}

td {
  height: 10em;
}

.cube {
  max-height: 5px;
}

.greys {
  background-color: #f2f2f2;
  color: #666;
  border: solid 1px #333;
  border-radius: 4px;
}

.blues {
  background-color: #d2d6f0;
  color: #1d38da;
  border: solid 1px #38448e;
  border-radius: 4px;
}

.greens {
  background-color: #d1e0bf;
  color: #6b7e54;
  border: solid 1px #51603f;
  border-radius: 4px;
}

.reds {
  background-color: #f2bcbc;
  color: #b92828;
  border: solid 1px #991919;
  border-radius: 4px;
}
