html {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

table {
  border: 1px #ccc;
}

.cube {
  max-height: 5px;
}

.greys {
  background-color: #f2f2f2;
  color: #666;
  border-color: #333;
  border-radius: 10px;
}

.blues {
  background-color: #d2d6f0;
  color: #1d38da;
  border: #38448e;
}

.greens {
  background-color: #d1e0bf;
  color: #6b7e54;
  border: #51603f;
}

.reds {
  background-color: #f2bcbc;
  color: #b92828;
  border: #991919;
}
